# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# anderes uninteressantes vom Projektordner...
*.d
makefile
*.mk
.cproject
.project


.metadata/
abi/
abi-shared/
CUTE/
RemoteSystemsTempFiles/
